<h1 id="head">  GO-BUYER    <sub> Welcome To The Online Shop</sub>  </h1>

<!-- <img src="../../assets/images/0010.jpg" alt="home"> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">


    <div id="svg">
      <a href="#">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" 
          class="style-scope yt-icon" style="pointer-events: none; display: block;
             width: 80px; height: 60px;"><g class="style-scope yt-icon">
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" class="style-scope yt-icon"></path>
        </g></svg></a>
      </div>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About <span class="sr-only">peggy</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/Category"> Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/feedback">Feedback</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button class="btn-primary"><a href="/signup"><h1>Signup</h1></a></button>
  
      <button class="btn-primary"><a href="/login">"<h1>Login</h1></a></button>
    </span>
  </div>
</nav>

       