<div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
                <div class="dp"></div>
                <h1> Signup </h1>
                <form method="POST" action="#">
                    <!-- still to write an import image function so it can enable users import thier image or maybe choose from a dropdown -->
                    <p>Import Image <Button class="text-white">Browse</Button> </p>
                    <p>UserName</p>
                    <input type="text" placeholder="Username" />
                    <p>Email</p>
                    <input type="email" placeholder="Email" />
                    <p>Password</p>
                    <input type="password" placeholder="Password" />
                    <p>Retype Password</p>
                    <input type="password" placeholder="Password" />
                    <section>
            <button><input type="submit" class="btn btn-warning" > signup</button>
                        
                    </section>
                </form>
            </div>
        </div>
        