<div style="width:84%; margin-left:16%; margin-right:0;" class="jumbotron jumbotron-fluid bg-dark text-primary" height="600px" width="500px">
  <div class="container">
      <div class="row">
        <div class="col-mg">
         <h2 id="head">{{ 'category.name' }}</h2>
         <img src="../../../../assets/images/0002.jpg" alt="details" height="300px" width="500px">
        </div>
         <div class="col-mg">
           <h1>Description</h1>
           <p>This is how you make breakfast to taste like puden</p>
         </div>
      </div>
  <div>
    <button style="float:right;" class="btn btn-danger">Delete</button>
    <button style="float:right;" class="btn btn-success ">Edit</button>
    &nbsp;
    <button  class="btn btn-primary">View All Products</button>
    </div>

    </div>
</div>