<div  style="width:84%; margin-left:16%; margin-right:0;"cclass="jumbotron jumbotron-fluid bg-light">
    <div class="container">
            <div class="dp"></div>
            <h1> Edit Category </h1>
            <form (ngSubmit)="onSubmit(add)" #add="ngForm">
               <!-- still to write an import image function so it can enable users import thier image or maybe choose from a dropdown -->
                <p>Import Image <Button class="text-white">Browse</Button> </p>
                <label>Name</label>
                <input type="text" id="name" class="form-control" placeholder="Category's new name" required [(ngModel)]="categories.name" name="name"/>
                <!-- <label> Description </label>
                <input type="text"id="description" placeholder="Describe your Categry" class="form-control" [(ngModel)]="categoryModel.description" name="Description"/> -->
                <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is empty </small> -->
                <section>
        <button type="submit" class="btn btn-primary"  > Save </button>
                    
                </section>
            </form>
        </div>
    </div>
    
