#search{
    margin-left:10%;
    margin-right:0;
    width:90%;

}
#search form{
    display:flex;
    flex-direction:row;
}
#search form input[type="text"]{
    border:8px solid #dc3545;
    border-radius:9px 0px 0px 9px;
    background-color:rgb(233, 223, 223);
    border-right: none;
}
.btn{
    float:right;
}
body {
    background:aqua;

     }
     @media screen and (min-width:576px)
      {
     /*576px and above screen sizes*/
     body{
         background:blue;
     }
  }
         @media screen and (min-width:768px)
      {
     /*768px and above screen sizes*/
     body{
         background:red;
     }
      }

     @media screen and (min-width:992px)
      {
     /*992px and above screen sizes*/
     body{
         background:orange;
     } 
  }

     @media screen and (min-width:1200px)
      {
     /*1200px and above screen sizes*/
     body{
         background:purple;
     }
      } 