<div class="sidebar">
    <h1 id='head'>Product Categories</h1>
    <a routerLink="/addCategory" ><button id="btn" class="btn btn-primary text-light" style="font-weight: 100; padding:10px;font-size:20px;">New Category</button></a>
    <!--  use an ngfor wnen listing all categories since they are morethan one -->
    <table>
          <tr  id ="table" class="text-primary" *ngFor ="let category of categories"> 
           
               <td>
               {{ category.name }} 
              <a  > <button id="delete"  (click)="delete(category.id)" class="btn gtn-sm btn-danger"> Delete  </button> </a>
              &nbsp;
              <a [routerLink]="['/edit',category.id]"
                  class="btn btn-success" >Edit
                </a> 
              </td>
          </tr>
      </table>
   </div>
  
      
      


