table{
    font-size: 30px;
    font: bold;

}

body {
  font-family: italic;
}

.sidebar {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aqua;
  overflow-x: hidden;
  padding-top: 16px;
  z-index:1;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  cursor: pointer;
}

.sidebar a:hover {
  color: gold;

}
/* 
.main {
  margin-left: 160px; //Same as the width of the sidenav */
  /* padding: 2px 10px;
}

#phones { */
    /* margin-left: 160px;// Same as the width of the sidenav */
    /* padding: 0px 10px;
  } */

  /* #televisions {
    margin-left: 160px; // Same as the width of the sidenav  */
    /* padding: 0px 10px;
  }

  #kitchen { */
    /* margin-left: 160px; Same as the width of the sidenav */
    /* padding: 0px 10px;
  } */
  /* #btn {
      padding:0px 10px;
      color:orange;
  }

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */