<div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
                <div class="dp"></div>
                <h1> Login </h1>
                <form method="POST" action="#">
                    <!-- still to write an import image function so it can enable users import thier image or maybe choose from a dropdown -->
                    <p>UserName</p>
                    <input type="text" placeholder="Enter your username" />
                    <p>Password</p>
                    <input type="password" placeholder="Enter password" />
                    <section>
            <button><input type="submit" class="btn btn-primary"  > Submit</button>
                        
                    </section>
                </form>
            </div>
        </div>
        